:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glass-bg {
  background: white;
  box-shadow: 0 0 0 4px hsla(0, 0%, 100%, 0.186);
}

#booking-header {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
}

#booking-form {
  background-image: linear-gradient(135deg, #010e4a 0%, #4f2975 100%);
}

#booking-container {
  background: white;
  /* background-image: linear-gradient(0deg, #fdfbfb 0%, #cdcdcd 100%); */
}

.box-input:hover img.input-img {
  bottom: -16px;
}

*::-webkit-scrollbar {
  display: none;
}
